{% extends 'portfolio/base.html' %}

{% block content %}

<h3>this is Steven's portfolio home page</h3>

{% load static %}

<a href="{% static 'portfolio/pdfFile.pdf' %}">PDF File</a>

<br><br>
<img src="{% static 'portfolio/cert.png' %}" height="100" >

<br><br>

<!-- django templating language -->
{% for project in projects %}
{{ project.title }}
<br>
<p>{{ project.description }}</p>
<img src="{{ project.image.url }}" height="25%">
{% if project.url %}
<br>
<a href="{{ project.url }}">Link</a>
{% endif %}
{% endfor %}

{% endblock %}